$font-family-sans-serif: 'News Cycle', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;

@import '~flickity/dist/flickity.css';
@import '~bootstrap/scss/bootstrap';

$green-light: #e6f2e6;
$green-medium: #188e5c;
$green-dark: #01473c;

section {
	.inner {
		padding: 1.5em;
	}
	.lead {
		font-weight: inherit;
		font-size: 1.75rem;
	}
	h1 {
		font-family: $font-family-sans-serif; //to override monospace sections
		font-weight: bold;
	}
	h2 {
		font-size: inherit;
		text-decoration: underline;
	}
	h3 {
		font-size: inherit;
		text-transform: uppercase;
		font-weight: bold;
	}	
	&.header {
		a.logo {
			svg {
				width: auto;
				height: 125px;
			}
		}
		div.facebook {
			max-width: 52px;
			a.facebook {
				svg {
					width: auto;
					height: 32px;
					path {
						fill: $green-medium;
					}
				}
				&:hover svg path { fill: $green-dark; }
			}
		}
		input {
			background-color: $green-light;
			border: 0;
			box-shadow: none;
			height: 32px;
			padding: .25rem 1rem;
			text-align: right;
			width: 100%;
		}
		strong {
			display: block;
			color: $green-dark;
			& + strong {
				color: $green-medium;
			}
		}
	}
	&.hero {
		.inner {
			overflow: hidden;
			color: white;
			position: relative;
			video {
				position: absolute;
				top: 50%;
				left: 50%;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				z-index: -100;
				transform: translateX(-50%) translateY(-50%);
				background: url(/video/forest.jpg);
				background-size: cover;
			}
			nav {
				text-align: center;
				font-family: $font-family-monospace;
				font-size: 20px;
				a { 
					color: white; 
					padding: .25rem 1rem;
					& + a {
						border-left: 1px solid white;
					}
				}
			}
			.carousel {
				height: 500px;
				opacity: 0;
				.flickity-slider {
					display: flex;
					align-items: center;
				}
				.item {
					font-size: 50px;
					width: 100%;
				}
				&.flickity-enabled {
					opacity: 1;
				}
			}
		}
	}
	&.facts {
		background-color: $gray-200;
		font-family: $font-family-monospace;
		h1 { color: $green-dark; }
		.center {
			background-image: url(/img/maine.png);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			text-align: center;
			vertical-align: middle;
		}
	}
	&.why {
		background-color: $green-medium;
		color: white;
		font-size: 21px;
	}
	&.about {
		color: $green-dark;
		font-size: 17px;
	}
	&.who {
		background-color: $green-light;
		color: $green-dark;
		p.lead {
			margin-bottom: 2rem;
		}
		ul {
			list-style-type: none;
			padding: 0;
			li {
				margin-bottom: 10px;
				strong { display: block; }
			}
		}
	}
}